<h1>Orders List</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{ order.id }}</td>
    <td>{{ order.product }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.price }}</td>
    <td>
      <a [routerLink]="['/update-order', order.id]">Update</a>
      <a [routerLink]="['/delete-order', order.id]">Delete</a>
    </td>
  </tr>
</table>
<a routerLink="/add-order">Add Order</a>
